---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/simple_token_authentication.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1519093b47f7b4de883cad6791cd42ad"
      Last-Modified:
      - Wed, 20 Apr 2016 10:22:05 GMT
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Gonzalo Bulnes Guilpain","built_at":"2016-04-20T00:00:00.000Z","created_at":"2016-04-20T10:22:04.621Z","description":"","downloads_count":2624,"metadata":{},"number":"1.13.0","summary":"Simple
        (but safe) token authentication for Rails apps or API with Devise.","platform":"ruby","ruby_version":"\u003e=
        0","prerelease":false,"licenses":["GPL-3.0+"],"requirements":[],"sha":"ea80c2d72b46846c7846c187f22142c62ab4c0d7cf67b372441641c9a34f8729"},{"authors":"Gonzalo
        Bulnes Guilpain","built_at":"2016-01-06T00:00:00.000Z","created_at":"2016-01-06T15:59:20.034Z","description":"","downloads_count":18725,"metadata":{},"number":"1.12.0","summary":"Simple
        (but safe) token authentication for Rails apps or API with Devise.","platform":"ruby","ruby_version":"\u003e=
        0","prerelease":false,"licenses":["GPL-3.0+"],"requirements":[],"sha":"729f04930560996a7dcc5[...]
